
body {
    background-color: antiquewhite;
    text-align: center;
}

#bio {
    background-color: bisque;
    border: 5px;
    border-color: #F0F8FF;
    padding: 1em;
    margin: auto;
}

ul {
    list-style-type: disc;
    margin: 1rem;
}

ol {
    list-style: decimal;
    list-style-position: inside;
    padding: 1rem;

}